**/data
*.zip
**/data1
*.log
*.ipynb
**/qf_preprocessing_inference_qwen
**/vqa_out
**/checkpoints
**/output_images
*.pt
**/vqa_v2_val_data
.git
data_paper
data_subsample
original_versions
paper_reference
reproduction/data
verification_output
gom_intermediate_outputs
prompt_opt
